<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Schedule Selector</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="nobo team" name="author">
    <meta content="Эмнэлгийн цаг захиалгын систем" name="description">
    <link rel="stylesheet" href="/assets/css/vanillaCalendar.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <style>
    html {
      box-sizing: border-box;
      font-size: 10px;
    }

    body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      color: #333;
      font-size: 1.6rem;
      background-color: #FAFAFA;
      -webkit-font-smoothing: antialiased;
    }

    .logo {
      margin: 1.6rem auto;
      text-align: center;
    }

    a,
    a:visited {
      color: #0A9297;
    }

    footer {
      text-align: center;
      margin: 1.6rem 0;
    }

    h1 {
      text-align: center;
    }

    .container {
      width: 96%;
      margin: 1.6rem auto;
      max-width: 42rem;
      text-align: center;
    }

    .demo-picked {
      font-size: 1.2rem;
      text-align: center;
    }

    .demo-picked span {
      font-weight: bold;
    }
  </style>
  <body>
    	<div class="container">


        <img src="/assets/brand/logo.svg" alt="" style="padding-top:50px; padding-bottom:50px;">

    		<h1>Индранил</h1>

    		<div id="v-cal">
    			<div class="vcal-header">
    				<button class="vcal-btn" data-calendar-toggle="previous">
    					<svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    						<path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
    					</svg>
    				</button>

    				<div class="vcal-header__label" data-calendar-label="month">
    					March 2017
    				</div>

    				<button class="vcal-btn" data-calendar-toggle="next">
    					<svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    						<path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
    					</svg>
    				</button>
    			</div>
    			<div class="vcal-week">
    				<span>Да</span>
    				<span>Мя</span>
    				<span>Лха</span>
    				<span>Пү</span>
    				<span>Ба</span>
    				<span id="weekend">Бя</span>
    				<span id="weekend">Ня</span>
    			</div>
    			<div class="vcal-body" data-calendar-area="month"></div>

          <!-- <div class="vcal-timetable" data-timetable-area="time"> -->
              <!-- <span style="padding-left:10px; padding-top: 10px;">
                <img src="/assets/brand/morning.svg" alt="">
              </span>

              <span style="padding-left:10px; padding-top: 30px;">
                <img src="/assets/brand/noon.svg" alt="">
              </span>
              <span style="padding-left:10px; padding-top: 30px;">
                <img src="/assets/brand/afternoon.svg" alt="">
              </span> -->
          <!-- </div> -->
    		</div>


    		<p class="demo-picked">
    			Date picked:
    			<span data-calendar-label="picked"></span>
    		</p>

    		<footer>
    			<a href="https://github.com/chrisssycollins">@chrisssycollins</a> |
    			<a href="https://github.com/chrisssycollins/vanilla-calendar">View on GitHub</a>
    		</footer>


    	</div>



      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="/assets/js/vanillaCalendar.js" type="text/javascript"></script>
      <script>
      window.addEventListener('load', function () {
        vanillaCalendar.init({
          disablePastDays:true
        });
      });
      </script>
  </body>

</html>
